@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { display: block; page-break-before: always; }
}

/* ************ 一掌經 內容 CSS *************** */
.yzj-分析單元模塊 {
  width: 620px;
  height: auto;
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  border-radius: 16px;
  border-color: #bfbfbf;

  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  color: black;
}

.yzj-分析單元標題 {

  text-align: left;
  vertical-align: top;

  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 22px;
  color: black;
}

.yzj-分析單元內容 {

  text-align: left;
  vertical-align: top;

  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  color: black;
}

/* ************ 一掌經 命盤 CSS *************** */

.yzj-地支格子 {
  table-layout: fixed;
    width: 150px;
    height: 105px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;
}

.yzj-dz-base-col {
  table-layout: fixed;
    width: 30px;
    height: 5px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;
}

.yzj-dz-base-grid {
  table-layout: fixed;
    width: 30px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;
}

.yzj-dz-base-grid-left {
  table-layout: fixed;
    width: 30px;
    height: 20px;
    margin: 0px 0px 0px 5px;
    text-align: left; 
    vertical-align: middle;
    padding-left: 5px;
}

.yzj-dz-base-grid-right {
  table-layout: fixed;
    width: 30px;
    height: 20px;
    text-align: right; 
    vertical-align: middle;
    margin: 0px 0px 0px 0px;
    padding-right: 5px;
}

.yzjcht-星曜 {
  table-layout: fixed;
    width: 90px;
    height: auto;
    margin: 0px 0px 0px 0px;

    font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
    font-size: 36px;
    color: black;

    text-align: center; 
    vertical-align: middle;
}

.yzjcht-宮位 {
  table-layout: fixed;
    width: 90px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;

    font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
    font-size: 18px;
    color: black;
}

.yzjcht-歲數段 {
  table-layout: fixed;
    width: 90px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;
}

.yzjcht-地支 {
  table-layout: fixed;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;

    font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
    font-size: 24px;
    color: black;
}


/* ************ 一掌經 命盤 中宮 CSS *************** */
.yzjcht-中宮Div {
  table-layout: fixed;
    width: 300px;
    height: 210px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;
}

.yzjcht-中宮Logo {
  table-layout: fixed;
    width: 300px;
    height: 70px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;
}

.yzjcht-中宮Info {
  table-layout: fixed;
    width: 300px;
    height: 140px;
    margin: 5px 0px 0px 28px;
    text-align: center; 
    vertical-align: middle;
}

.yzjsizhu-標題 {
  table-layout: fixed;
    width: 60px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;

    font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
    font-size: 18px;
    color: black;
}

.yzjsizhu-地支 {
  table-layout: fixed;
    width: 60px;
    height: 50px;
    margin: 0px 0px 0px 0px;
    text-align: center; 
    vertical-align: middle;

    font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
    font-size: 30px;
    color: black;
}