
/*  background-color: var(--chart-bg-color);*/
body
{
  margin: 0;
}

BaziChartDiv { /* not used !!*/      
  width: 1200px;
  height: 600px;
  margin: 10px 10px 10px 10px;
}

IMG.displayed {
    /*display: block;*/
    float: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    vertical-align: middle;
}

.BaziChartTbl{
    margin: 10px 10px 10px 10px;
    float:left;
	width:576px;
	border-collapse: collapse;
    border-spacing:0px 0px; 
    padding:0px 0px 0px 0px;
}

.tdAlign{
    text-align:center; 
    vertical-align:middle;
    background:white;
    border: 1px solid black;
	border-collapse: collapse;

}

.tdAlignNoBorder{
    text-align:center; 
    vertical-align:middle;
    background:white;
    border-collapse: collapse;
}

圖表Div{
  width: 300px;
  height: 300px;
  background:#C0C0C0;
}
/* ------------ Info Box -----------------*/

.商標格子 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  font-weight: bold;
  color: black;
  line-height: 30px;

  width: 184px;
  height: 90px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.姓名出生地格子 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  color: black;
  line-height: 30px;

  width: 184px;
  height: 146px;
  margin: 0px 0px 0px 0px;
  padding: 12px 0px 0px 8px;
}


.資訊格子1 {
  background: #FAFAFA;
  text-align: left;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 26px;
  font-weight: bold;
  color: mediumpurple;
  line-height: 20px;

  width: 136px;
  height: 92px;
  margin: 0px 0px 0px 0px;
}

#資訊1小題{
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  font-weight: bold;
    color: black;
    line-height: 20px;
}


.資訊格子2 {
  background: #FAFAFA;
  text-align: left;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 14px;
  font-weight: bold;
  color: #0066FF;
  line-height: 14px;

  width: 84px;
  height: 86px;
  padding: 10px 0px 0px 5px;
}



/* ------------ Table Subject -----------------*/

.主題橫幅 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: #6600CC;
  text-align: center;
  line-height: 26px;

  width: 633px;
  height: 26px;
  margin: 0px 0px 0px 0px;
}

.生日資訊 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 26px;

  width: 374px;
  height: 28px;
  margin: 0px 0px 0px 0px;
}


.命盤豎標題 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
    color: black;
    text-align: center;
    width: 70px;
    height: 30px;
    background: #FAFAFA;
}

.命盤豎標題干支 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 70px;
  height: 78px;
  background: #FAFAFA;
}

.命盤豎標題副星 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 70px;
  height: 66px;
  background: #FAFAFA;
}

.命盤豎標題大運流年 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 70px;
  height: 66px;
  background: #FAFAFA;
}

.命盤豎標題小運 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  /* font-weight: bold; */
  color: black;
  text-align: center;
  width: 70px;
  height: 50px;
  background: #FAFAFA;
}

.命盤豎標題流月 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 70px;
  height: 66px;
  background: #FAFAFA;
}

.命盤橫標題 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 30px;
  width: 90px;
  margin: 0px 0px 0px 0px;
}

.主星格子 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 30px;
  
  width: 90px;
  height: 30px;
  margin: 0px 0px 0px 0px;
}

.副星格子{
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 20px;

  width: 90px;
  height: 62px;
  margin: 0px 0px 0px 0px;
}

.八字格子{
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 78px;

  width: 90px;
  height: 78px;
  margin: 0px 0px 0px 0px;
}

.運星格子  {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 20px;

  width: 90px;
  height: 46px;
  margin: 0px 0px 0px 0px;
}

.納音格子  {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 30px;

  width: 90px;
  height: 30px;
  margin: 0px 0px 0px 0px;
}

.神煞格子{
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  font-weight: bold;
  color: black;
  vertical-align: text-top;
  /*text-align: center;*/
  line-height: 20px;

  width: 90px;
  /*height: 62px; */
  margin: 0px 0px 0px 0px;
}

.四柱格子  {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 30px;

  width: 90px;
  height: 30px;
  margin: 0px 0px 0px 0px;
}

.藏干格子  {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 24px;

  width: 90px;
  height: 78px;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 0px 0px;
}

.流運干支格子, .大運干支格子, .流年干支格子, .流月干支格子 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 23px;

  width: 43px;
  height: 46px;
  margin: 0px 0px 0px 0px;
}

.流月干支格子 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: #666699;
  text-align: center;
  line-height: 23px;

  width: 43px;
  height: 46px;
  margin: 0px 0px 0px 0px;
}

.流運年歲格子 {
  background: #FAFAFA;
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 22px;

  width: 44px;
  height: 20px;
  margin: 0px 0px 0px 0px;
}

.NavTab{
    zoom: 1; 
    float: left; 
    width: 800px;
    margin: 5px 5px 5px 10px;
}

/* ************ 內容 ************** */
.經典標題 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: #9933FF;
  text-align: left;
  line-height: 20px;
}

.經典古文 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 20px;
}

.流運標題 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: #663300;
  text-align: left;
  line-height: 20px;
}

.論斷單元 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 24px;
  font-weight: bold;
  color: #2E9AFE;
  text-align: left;
  line-height: 20px;
}


.流運項目 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  font-weight: bold;
  color: #2E9AFE;
  text-align: left;
  line-height: 20px;
}

.論斷小結 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 18px;
  font-weight: bold;
  color: #FFCC99;
  text-align: left;
  line-height: 20px;
}

.傳統論斷項目, .本命論斷項目 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 20px;
}

TableCaptionCSS{
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 20px;
  caption-side: top;
}

/* ************ 身強弱 *************** */
.身強弱標題 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 40px;
}

/* ************ 身強弱 *************** */
.身強弱標題2 {
  font-family: KaiTi, "STKaiti", DFKai-SB, "BiauKai";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 20px;
}


/* ************ 五行字體顏色 *************** */
.五行顏色木 {color: #009900;}
.五行顏色火 {color: #CC0000;}
.五行顏色土 {color: #663300;}
.五行顏色金 {color: #FF9900;}
.五行顏色水 {color: #0066FF;}
.默認顏色 {color: #000000;}

.運限背景顏色當選 {background-color: #FFFF00;}
.運限背景顏色不當選 {background-color: #FAFAFA;}

/* Other library's CSS */
.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }


/* Testing scripts CSS */
.date-container {
	width: 340px;
	height: auto;
	/*align-content: flex-start;*/
	margin-left: 20px;
	margin-top: 10px;
	
}


.ymdh-container {
	//margin-left: 10px;
	width: 160px;
	height: 180px;
  	vertical-align: text-top;
	align-self: center;
	float:left; 
	background-color:azure;
}



.gz-date-container {
  width: 340px;
  height: auto;
  float:left; 
  /*align-content: flex-start;*/
  margin-left: 20px;
  margin-top: 10px;
  
}

.gz-ymdh-container {
  //margin-left: 10px;
  width: 160px;
  height: 180px;
    vertical-align: text-top;
  align-self: center;
  float:left; 
  background-color:azure;
}